
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik:ital,wght@0,300;1,300&family=Tilt+Neon&display=swap');

  *, *::after, *::before{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

  }

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

  :root{
    --MobileDesign: 375px;
    --DesktopDesign: 1440px;
    --LinearGradientFrom: hsl(236, 72%, 79%) ;
    --LinearGradientTo: hsl(237, 63%, 64%);
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
    --Font-size: 15px;
    --Font-Weight: 700;
  }

  HTML{
    width: 100%;
    height: 100%;
  }

  body{
    padding: 2rem 1rem;
    background-color: var(--Very-Light-Grayish-Blue);
    background-image: url('images/bg-bottom.svg') , url('images/bg-top.svg');
    background-position: left bottom, right top ;
    background-repeat: no-repeat;
    background-size: auto;
    display: grid;
    place-items: center;

  }
  input[type='checkbox']{
    display: none;
  }

 .parent-span{
    cursor: pointer;
    width: 4rem;
    height: 1rem;
    background-color: var(--Light-Grayish-Blue);
    background-image: linear-gradient(  #b3b5c6,  #b3b5c6);
    padding: 0.5rem 1.8rem;
    border-radius: 20px;
    position: relative;
  }

  .am{
    margin: 2rem;
  }

  .child-span{
    background-color: 0;
    margin: auto 0rem;
    position: absolute;
    right: 46%;
    top:0;
    bottom: 0;
    width: 1.7rem;
    height: 1.7rem;
    background-color: white;
    border-radius: 50%;
    transition: right 100ms;
  }

  .am .text{
    opacity: 0.6;
    font-weight: 600;
    margin-inline: 1.5rem;
  }

  .main{
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  h2{
    opacity: 0.7;
    
    font-weight: 600;
  }

  .item1, .item2, .item3{
    text-align: center;
    background-color: white;
  }

  .item1, .item2, .item3{
    padding: 1rem 2rem;
  }

  h1{
    font-size: 3.3rem;
    font-weight:bolder;
    display: flex;
    align-items: center;
  }

  .item1  {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: -4px 4px 12px 0px hsla(234, 14%, 74%, 0.445);
  }

  .item3  {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: -4px 4px 12px 0px hsla(234, 14%, 74%, 0.445);
  }


  #dollarSign{
    font-size: 2rem ;
  }

  .item2{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    top:-18px;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(var(--LinearGradientFrom), var(--LinearGradientTo));
  }

  .item h1{
    margin: 1rem;
  }

.item p{
    width: 100%;
    padding-block: 1rem;
}



#item2 .border-both,
#item2 .border-top,
#item2 .border-bottom{
  border-color: azure;

}


.item .border-top{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    opacity: 0.8;
}

.item .border-both,
.item .border-top,
.item .border-bottom
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    opacity: 0.8;
}

.item2 p{
    border-color: white;
}

.learn-more{
    cursor: pointer;
    margin-top: 1rem;
    font-size: 0.8rem ;
    width: 100%;
    padding: 0.4rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    color:white;
    background-image: linear-gradient(var(--LinearGradientFrom), var(--LinearGradientTo)) ;
}

.learn-more:hover{
  background-color: white;
  background-image: linear-gradient(white, white);
  color:hsl(237, 61%, 64%);
  outline: 1.5px solid hsl(237, 61%, 64%);
}

#item2 .learn-more:hover{
  background-color: white;
  background-image: linear-gradient(var(--LinearGradientFrom), var(--LinearGradientTo)) ;
  color:white;
  outline: 1.5px solid white;
}



#item2 .learn-more{
  background-image: linear-gradient(white, white);
  color: hsl(237, 61%, 64%);
}


@media  (max-width:775px ){

  .main{
    display: flex;
    flex-direction: column;
  }

  .item{
    border-radius: 0.3rem;
    margin-block: 0.8rem;
    border-radius: 10px;
  }

  .item2{
    height: 100%;
    top:0px;
  }

}



